@font-face{
  font-family: 'Bold';
  src: url("Fonts/Montserrat-Bold.ttf");

}
@font-face{
  font-family: 'Regular';
  src: url("Fonts/Montserrat-Regular.ttf");
}
@font-face{
  font-family: 'Light';
  src: url("Fonts/OpenSans-Light.ttf");
}
@font-face{
  font-family: 'Thin';
  src: url("Fonts/Montserrat-Thin.ttf");
}


*{
  margin: 0;
  padding: 0;
}


body{
  background: rgb(248, 248, 248) url("Imagens/bg01.png");
  font-family: "Regular";
}

nav{
  font-family: "Bold";

}

h4{
  font-family: "Light";
}

#maincards p{
  font-family: "Regular";
}

.project{
  max-width: 350px;
  height: 500px;
}







/* ------ Media querie ------ */

/* Small devices*/
@media (min-width: 1px) and (max-width: 576px) {
  html{
    font-size: 74%;
  }

  #navbar{
    font-size: 16px;
    border-bottom: 2px solid rgba(26, 26, 26, 0.171);
    margin-bottom: -8%;
  }

  #cardPrincipal *{
    padding: 0px;
  }

  #bemVindo{
    font-size: 15px;
  }

  h4{
    font-size: 13px;
  }

  .project{
    max-width: 350px;
    height: 370px;
  }
} 

/* Small devices*/
/* @media (min-width: 339px) and (max-width: 576px) {
  html{
    background: red;
    font-size: 74%;
  }

  #navbar{
    font-size: 16px;
    border-bottom: 2px solid rgba(26, 26, 26, 0.171);
    margin-bottom: -14%;
  }

  #cardPrincipal *{
    padding: 0px;
  }

  #bemVindo{
    font-size: 15px;
  }

  .project{
    max-width: 350px;
    height: 370px;
  }
  
}  */
/* Medium devices*/
@media (min-width: 577px) and (max-width: 768px) {
  #bemVindo{
    font-size: 32px;
  }
}
/* Large devices*/
 @media (min-width: 769px) and (max-width: 992px) {
  #bemVindo{
    font-size: 31px;
  }

  #cardPrincipal button{
    font-size: 12px;
  }
} 
/* Extra Large devices*/
@media (min-width: 993px) {
  #bemVindo{
    font-size: 44px;
  }
} 






