*{
  margin: 0;
  padding: 0;
}


/* ------ Media querie ------ */

/* Small devices*/
/* @media (min-width: 1px) and (max-width: 576px) {
  html{
    background: red;
    font-size: 63%;
  }
  
} */
/* Medium devices*/
/* @media (min-width: 577px) and (max-width: 768px) {
  body{
    background: yellow;
    font-size: 50%;
  }
} */
/* Large devices*/
/* @media (max-width: 992px) {
  
} */
/* Extra Large devices*/
/* @media () {

} */






